@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Manrope', sans-serif;
  --color-primary: #5B4DFF;
  --color-dark: #0A0A0A;
  --color-light: #F9FAFB;
}

@layer base {
  body {
    font-family: var(--font-sans);
    @apply antialiased text-gray-900 bg-white;
  }
}